.site-main {
  min-height: 500px;
}

.post,
.page {
  margin: 0;
}

.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.25em 0 0;

  @media (max-width: $small) {
    margin: 1em 0 0;
  }
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

// Gutenberg

.wp-block-file {
  display: block;
  line-height: 1.2;
  padding: 0 0 0 .5rem;
  margin-bottom: 1rem;
  position: relative;

  a {
    font-size: 1.25rem;
    color: $black;
    font-weight: $regular;
    text-decoration: none;
    display: inline-block;
    max-width: 500px;
    padding: .1rem 1rem .5rem 2.5rem;

    &:hover {
      text-decoration: underline;
    }
  }

  a.wp-block-file__button {
    background: $white;
    color: $black;
    font-size: 1rem;
    font-weight: $regular;

    &:hover {
      background: $white;
      color: $black;
      opacity: 1;
    }
  }
}
