h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  margin: 0;
  padding-bottom: .65rem;
  font-family: $secondary-font;
  font-weight: 500;
  letter-spacing: -0.02em;

  &:empty {
    display: none;
  }

  @media screen and (max-width: $xsmall) {
    br {
      display: none;
    }
  }
}

h1, .h1 {
  // 78px
  color: $blue;
  font-size: 4.875rem;
  line-height: 1;
  
  &.alt {
    // 70px
    font-size: 4.375rem;
  }

  @media (max-width: $small) {
    // 43px
    font-size: 2.6875rem;
    line-height: 1.2;
  }

  @media (max-width: $xsmall) {
    // 35px
    font-size: 2.1875rem;
  }
}

h2, .h2 {
  // 78px
  color: $blue;
  font-size: 4.875rem;
  line-height: 1.05;
  padding-bottom: 3rem;

  @media (max-width: $small) {
    // 43px
    font-size: 2.6875rem;
    line-height: 1.2;
  }

  @media (max-width: $xsmall) {
    // 35px
    font-size: 2.1875rem;
  }
}

h3, .h3 {
  // 47px
  font-size: 2.9375rem;
  line-height: 1.3;

  @media (max-width: $small) {
    font-size: 2rem;
    line-height: 1.875rem;
  }
}

h4, .h4 {
  font-size: 1.75rem;
  line-height: normal;
  padding-bottom: .5rem;
  font-family: $primary-font;

  @media (max-width: $small) {
    font-size: 1.5rem;
    line-height: 1.75rem;
  }

  &.xl {
    // 47px
    font-size: 2.9375rem;
    line-height: 1.3;
  }
}

h5, .h5 {
  //22px
  font-family: $primary-font;
  font-size: 1.375rem;
  line-height: 1;

  @media (max-width: $small) {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

h6, .h6 {
  font-size: 1.125rem;
  line-height: normal;

  @media (max-width: $small) {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
