.main-navigation {
  display: flex;
  justify-content: flex-end;

  #primary-menu {
    display: flex;
    align-items: center;
    list-style: none;

    @media (max-width: 1000px) {
      display: none;
    }

    > li {
      &:not(:last-child) {
        margin-right: 1.15rem;
      }

      &.current-menu-item {
        > a {
          color: $black;
          font-weight: $bold;
          border-bottom: 3px solid $green;
        }
      }

      > a {
        color: $gray;
        display: inline-block;
        font-size: 0.9375rem;
        font-weight: $regular-medium;
        line-height: 1;
        letter-spacing: 0.08em;
        padding: .25rem;
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
        border-bottom: 3px solid $white;


        &:focus, &:visited {
          text-decoration: none;
        }

        &:hover {
          color: $black;
          border-bottom: 3px solid $green;

        }
      }
    }
  }
}

.secondary-menu {
  display: flex;
  justify-content: flex-end;
  padding-bottom: .5rem;

  @media (max-width: 1000px) {
    display: none;
  }

  ul {
    display: flex;
    align-items: center;

    > li {
      &:not(:last-child) {
        margin-right: 2rem;
      }

      > a {
        color: $black;
        display: inline-block;
        font-size: 1.125rem;
        position: relative;
        text-decoration: none;

        &:before {
          content: "";
          border-bottom: 2px solid $blue;
          width: 100%;
          transition: .3s ease-in-out;
          display: inline-block;
          position: absolute;
          bottom: 0;
          left: 0;
        }

        &:focus, &:visited {
          text-decoration: none;
        }

        &:hover {
          &:before {
            width: 20%;
            content: "";
          }
        }
      }

      &.camera {
        position: relative;

        &:before {
          content: "\f030";
          font-family: "Font Awesome 5 Pro";
          font-weight: 400;
          font-size: 1.05rem;
          margin-right: 5px;
        }

        a {
          &:before {
            content: none;
          }

          &:hover {
            color: $blue;
          }
        }
      }
    }
  }
}

.menu-mobile {
  display: none;

  @media (max-width: 1000px) {
    background: white;
    display: block;
    height: 100vh;
    padding-left: 1.5rem;
    position: fixed;
    top: 0;
    transform: translateX(-100%);
    transition: .3s ease-in-out;
    width: 65vw;
    z-index: 90;
  }

  @media (max-width: 480px) {
    width: 80vw;
  }

  #primary-menu {
    padding-top: 2.5rem;
    padding-left: 1rem;

    li {
      margin-bottom: 1rem;

      a {
        font-size: 2rem;
        text-decoration: none;
      }
    }
  }

  &.show {
    transform: none;
  }
}

// Nav Modal

.nav-modal {
  background: rgba($black, 0.3);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
  visibility: hidden;

  &.active {
    visibility: visible;
    z-index: 85;
  }
}
