button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: none;
  border-color: none;
  border-radius: 0;
  background: $black;
  color: rgba(0, 0, 0, 0.8);
  line-height: 1;
  padding: 0.6em 1em 0.4em;
  letter-spacing: 0.01em;

  &:hover {
    border-color: $color__border-button-hover;
  }

  &:active,
  &:focus {
    border-color: $color__border-button-focus;
  }
}

.button {
  background: rgba($gold, 0.8);
  border: none;
  color: $white;
  font-size: 1.125rem;
  letter-spacing: 0.03em;
  min-width: 220px;
  padding: 1rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 200ms linear;

  &:active,
  &:focus, &:visited {
    color: $white;
  }

  &:hover {
    color: $white;
    background: $gold;
    transform: scale(1.09);
  }

  &-secondary {
    background: rgba($white, 0.8);
    text-transform: uppercase;
    border: none;
    color: $black;
    font-size: 1.125rem;
    letter-spacing: 0.03em;
    min-width: 220px;
    padding: 1rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: .3s ease;

    &:hover {
      color: $black;
      background: $white;
      transform: scale(1.07);
    }
    &:active, &:visited {
      color: $black;
    }
  }
}
