ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-main {
  ul:not(.gform_fields):not(.slick-dots) {
    list-style: disc;
    margin: 0;
    padding: 1rem 0 1rem 1.25rem;

    li {
      font-size: 1.125rem;
      line-height: 1.6;
    }
  }

  ol {
    list-style: decimal;

    li {
      font-size: 1.125rem;
      line-height: 1.6;
    }
  }
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}
