.footer {
  padding: 2rem 0;
  background: $gray;
  color: $white;
  


  .menu {
    display: flex;

    li {
      &:not(:last-child) {
        margin-right: 1rem;
      }
      a {
        text-decoration: none;
      }
    }
  }
}
