.site-header {
  padding: 1.5rem 0;

  @media (max-width: $xsmall) {
    padding: .5rem 0;
  }

  .no-logo {
    border: 2px solid $black;
    padding: 1rem;
    text-align: center;
    display: block;
    text-decoration: none;
  }

  &-row {
    @media (max-width: 1000px) {
      align-items: center;
      display: flex;
    }
  }

  .site-branding {
    display: block;
    max-width: 400px;

    img {
      width: 100%;
      max-width: 230px;

      @media (max-width: $small) {
        width: 100%;
        max-width: 190px;
      }

      @media (max-width: $xsmall) {
        width: 100%;
        max-width: 130px;
      }
    }
  }

  .hamburger {
    background-color: $black;
    border-radius: 0;
    height: 4px;
    padding: 0;
    line-height: 0;
    position: relative;
    transition-duration: .15s;
    transition-property: transform;
    transition-timing-function: ease;
    width: 100%;

    &-box {
      height: 38px;
      display: none;
      position: absolute;
      right: 1rem;
      top: auto;
      width: 2.5rem;
      z-index: 99;

      @media (max-width: $xsmall) {
        top: 1.1rem;
      }

      &.active {
        background: $black;
      }

      &:hover {
        cursor: pointer;
      }

      @media (max-width: 1000px) {
        display: block;
      }
    }

    &:before {
      content: "";
      background-color: $black;
      border-radius: 0;
      display: block;
      height: 4px;
      position: absolute;
      right: 0;
      top: -10px;
      transition: top 75ms ease .12s,opacity 75ms ease;
      width: 100%;
    }

    &:after {
      bottom: -10px;
      background-color: $black;
      border-radius: 0;
      content: "";
      display: block;
      height: 4px;
      position: absolute;
      right: 0;
      transition: bottom 75ms ease 0.12s, transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
      width: 100%;
    }

    &:active, &:focus {
      outline: 1px solid rgba(white, 0.1);
    }

    &.active {
      transition-delay: .12s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transform: rotate(45deg);
      background-color: $white;

      &:before {
        content: "";
        opacity: 0;
      }

      &:after {
        background-color: $white;
        bottom: 0;
        transition: bottom 75ms ease, transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
        transform: rotate(-90deg);
      }
    }
  }
}
