$black-default: #000000;
$black: #000000;
$white: #FFFFFF;
$gray: #8b8a8a;
$blue: #004279;
$blue-dark: #002a51;
$blue-light: #3086c1;
$green: #4c721d;
$green-dark: #305420;
$green-light: #76a465;
$yellow: #faf6e7;

.bg-yellow {
  background: $yellow;
}


$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: inherit; //royalblue
$color__link-visited: inherit; //purple
$color__link-hover: $black; //midnightblue
$color__text-main: $black;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
