.content-block {
  min-height: 600px;
  overflow: hidden;
  position: relative;
  width: 100%;

  &-wrapper {
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .headline {
    top: 0;
    left: auto;
    max-width: 700px;
    z-index: 99;
    position: relative;
  }
}