.content-block {
  min-height: 600px;
  overflow: hidden;
  position: relative;
  width: 100%;

  @media (max-width: $small) {
    min-height: 400px;
  }

  &-wrapper {
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (max-width: $small) {
      min-height: 400px;
      padding-bottom: 3rem;

      .button {
        margin-top: 1rem;
      }
    }
  }

  .headline {
    top: 0;
    left: auto;
    z-index: 99;
    position: relative;
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;

    @media (max-width: $medium) {
      top: auto !important;

      br {
        display: none;
      }
    }

    @media (max-width: $small) {
      font-size: 2.85rem;
    }

    @media (max-width: $xsmall) {
      margin-bottom: 1rem;
    }
  }

  &-stats {
    display: flex;
    padding: 6rem 0 6rem 0;
    margin: 0;

    @media (max-width: $small) {
      padding: 1rem 0;
      flex-wrap: wrap;
    }

    li {
      display: block;
      flex: 1;
      text-align: center;

      @media (max-width: $small) {
        padding: 0 1.25rem 3rem .25rem;
        text-align: left;
        width: 50%;
        flex: none;

        &:nth-child(2) {
          padding-right: 0;
        }
      }

      h3 {
        color: $green;
      }

      span {
        display: block;
        max-width: 200px;
        margin: 0 auto;
        line-height: 1.2;
        font-size: 1.25rem;
        font-weight: $regular-medium;

        @media (max-width: $small) {
          margin: 0;

          br {
            display: none;
          }
        }
      }
    }
  }
}
