.page-template-page-business {
  .content-block {
    .content-block-wrapper {
      padding-top: 6rem;
      padding-bottom: 4rem;
      
      p {
        position: relative;
        z-index: 99;
      }
    }
  }
}

.content-business {
  &-section {
    background: #faf6e7;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-top: 5vh;
    padding-bottom: 8rem;

    @media (max-width: $medium) {
      padding-top: 4rem;
    }
  }

  &-text {
    padding-top: 4rem;

    @media (max-width: $medium) {
      padding-top: 1rem;
    }
  }

  &-list {
    display: flex;
    padding-top: 1rem;

    @media (max-width: $small) {
      display: block;
    }

    li {
      flex: 1;
      border-top: 1px solid $green;
      padding-top: 1rem;
      margin: 0 1rem;

      &:first-child {
        margin-left: 0;
      }

      @media (max-width: $small) {
        width: 100%;
        flex: none;
        margin: 2rem 0 !important;
        padding-top: 2rem;

        &:first-child {
          margin-top: 0 !important;
        }
      }
    }
  }
}
