.content-block {
  min-height: 600px;
  overflow: hidden;
  position: relative;
  width: 100%;

  @media (max-width: $small) {
    min-height: 400px;
  }

  &-wrapper {
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (max-width: $small) {
      min-height: 400px;
    }
  }

  .headline {
    top: 0;
    left: auto;
    z-index: 99;
    position: relative;
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
  }

  &-stats {
    display: flex;
    padding: 6rem 0 6rem 0;
    margin: 0;

    @media (max-width: $small) {
      display: block;
      padding-top: 2rem;
    }

    li {
      display: block;
      flex: 1;
      text-align: center;

      @media (max-width: $small) {
        padding-bottom: 3rem;
        text-align: left;
      }

      h3 {
        color: $green;
      }

      span {
        display: block;
        max-width: 200px;
        margin: 0 auto;
        line-height: 1.2;
        font-size: 1.25rem;
        font-weight: $regular-medium;
        @media (max-width: $small) {
          margin: 0;
        }

      }
    }
  }
}
