.content-industry {
  &-main {
    padding-bottom: 4rem;
  }

  &-text {
    max-width: 850px;
    padding-top: 3rem;
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    padding-top: 2rem;
    padding-bottom: 2rem;

    @media (max-width: $small) {
      padding: 4rem 0;
    }

    .item {
      width: 50%;
      @media (max-width: $small) {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-bottom: 1rem;
      }


      p {
        max-width: 240px;
        font-size: 1.2rem;
        @media (max-width: $xsmall) {
          max-width: 160px;
          padding-top: 1rem;
          line-height: 1.2;
        }

      }

      img {
        width: 100%;
        max-width: 100px;
      }
    }
  }

  &-leftcol {
    @media (max-width: $small) {
      padding-bottom: 4rem;
    }

    ul {
      list-style: none;
      padding: 2rem 2rem 0 0;
      margin: 0;

      li {
        padding: 0 0 1rem 30px;
        font-size: 1.375rem;
        font-weight: $regular;
        line-height: 1.3;
        position: relative;

        &:last-child {
          padding-bottom: 0;
        }

        &::before {
          content: "\2022";
          color: $green;
          position: absolute;
          font-size: 1.8rem;
          left: 0;
          width: 20px;
          height: 20px;
          top: -5px;
        }
      }
    }
  }

  &-section {
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-top: 5vh;

    h2 {
      color: $blue;
      left: auto;
      max-width: 700px;
      z-index: 99;
      position: relative;
    }

    h3 {
      font-family: $primary-font;
    }
  }

  h3 {
    color: $black;
  }
}
