@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.feature-hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 650px;
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-top: 20vh;

  @media (max-width: $small) {
    min-height: 400px;
  }

  &-main {
    display: flex;
    align-items: center;
    min-height: 650px;
    @media (max-width: $small) {
      min-height: 400px;
    }
  }

  h1 {
    color: $white;
    left: auto;
    opacity: 0;
    max-width: 700px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99;
    animation: .8s fadeInUp forwards;
    animation-delay: .5s;
    
  }
}



.hero-row {
  min-height: 300px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.headline {
  top: 0;
  left: auto;
  max-width: 700px;
  z-index: 99;
  position: relative;

  &.headline-start {
    opacity: 0;
    position: absolute;
    color: $blue;
    animation: .8s fadeInUp forwards;
    animation-delay: .5s;
  }

  &.headline-change {
    // position: absolute;
    color: white;
  }
}

.hero-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 650px;
}
