// .slide-up {
//   animation-name: slide-up;
//   animation-duration: 1.2s;
//   animation-delay: .25s;
//   animation-timing-function: cubic-bezier(0.2, 0, 0, 1);
//   animation-fill-mode: forwards;
// 
// 
//   @keyframes slide-up {
//     0% {
//       transform: translateY(100px);
//     }
// 
//     100% {
//       transform: translateY(0);
//     }
//   }
// }

.hero-row {
  min-height: 300px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.headline {
  top: 200px;
  left: auto;
  max-width: 700px;
  z-index: 0;

  &.headline-start {
    position: fixed;
    color: $blue;

    &.remove {
      display: none;
    }
  }

  &.headline-change {
    position: absolute;
    color: white;

    &.stop {
      top: 200px !important;
    }
  }
}

.hero-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 650px;
}
