@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.image-two-col {
  position: relative;
  background: linear-gradient(to left, $yellow 50%, $white 50%);

  &__media {
    padding-top: 30vh;
    min-height: 750px;
    overflow: hidden;
    position: relative;
    width: 100%;

    h2 {
      color: $white;
      left: auto;
      max-width: 780px;
      opacity: 0;
      padding-bottom: 0;
      position: absolute;
      top: 0;
      z-index: 99;
      
      @extend .xl;
      
      &.show {
        animation: .5s fadeIn forwards;
      }
    }
  }

  &__content {
    min-height: 750px;
    overflow: hidden;
    position: relative;
    width: 100%;

    h2 {
      top: 0;
      left: auto;
      max-width: 700px;
      z-index: 99;
      position: relative;
      color: $blue;
    }
  }

  .primary, .secondary {
    padding: 8rem 0 2rem 0;
  }

  .primary {
    padding-right: 4rem;

    h2 {
      @extend .xl;
    }
  }

  .secondary {
    &-facts {
      display: flex;
      list-style: none;
      flex-wrap: wrap;
      padding-top: 0;

      li {
        width: 50%;
        padding: 0 2rem 3rem 2rem;

        h3 {
          color: $green;
          padding-bottom: 0;
        }

        span {
          display: block;
          font-size: 1.4375rem;
          line-height: 1.2;
        }
      }
    }
  }
}
