@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.image-two-col {
  position: relative;
  background: linear-gradient(to left, $yellow 0 40%, $white 0 60%);

  @media (max-width: 1200px) {
    background: linear-gradient(to top, $yellow 0 25%, $white 0 75%);
  }

  @media (max-width: $small) {
    background: linear-gradient(to top, $yellow 0 35%, $white 0 65%);
  }

  @media (max-width: $xsmall) {
    background: linear-gradient(to top, $yellow 0 32%, $white 0 68%);
  }

  &__media {
    padding-top: 30vh;
    min-height: 750px;
    overflow: hidden;
    position: relative;
    width: 100%;

    @media (max-width: $small) {
      min-height: 350px;
    }

    h2 {
      color: $white;
      left: auto;
      max-width: 780px;
      opacity: 0;
      padding-bottom: 0;
      position: absolute;
      top: 0;
      z-index: 99;

      @extend .xl;

      &.show {
        animation: .5s fadeIn forwards;
      }
    }
  }

  &__content {
    min-height: 750px;
    overflow: hidden;
    position: relative;
    width: 100%;

    p {
      @media (min-width: 1201px) {
        max-width: 650px;
      }
    }

    @media (max-width: $small) {
      min-height: 0;
    }

    @media (max-width: 1200px) {
      .left {
        max-width: 100%;
        flex: none;
      }
    }

    h2 {
      top: 0;
      left: auto;
      max-width: 700px;
      z-index: 99;
      position: relative;
      color: $blue;
    }
  }

  &__facts {
    @media (max-width: 1200px) {
      max-width: 100%;
      flex: none;
    }
  }

  .primary, .secondary {
    padding: 8rem 0 2rem 0;

    @media (max-width: $small) {
      padding: 1rem 0;
    }
  }

  .primary {
    padding-right: 4rem;

    @media (max-width: $small) {
      padding-right: 0;
    }

    h2 {
      @extend .xl;
    }
  }

  .secondary {
    &-facts {
      display: flex;
      list-style: none;
      flex-wrap: wrap;
      padding: 0;
      margin-top: -1rem;

      @media (max-width: 1200px) {
        position: relative;
        padding-left: 0;
        max-width: 100%;
        flex: none;
      }

      @media (max-width: $small) {
        padding: 0;
        margin-top: 0;
        right: 0;
      }

      li {
        width: 50%;
        padding: 0 1.25rem 3rem 0;

        @media (min-width: 1366px) {
          &:nth-child(2), &:nth-child(4) {
            position: relative;
            left: 1rem;
          }
        }

        @media (max-width: $small) {
          padding-bottom: 1rem;

          &:first-child, &:nth-child(2) {
            padding-bottom: 2rem;
          }
        }

        h3 {
          color: $green;
          padding-bottom: 0;

          @media (max-width: $small) {
            padding-bottom: .75rem;
          }
        }

        span {
          display: block;
          font-size: 1.15rem;
          line-height: 1.2;
        }
      }
    }
  }
}
