.inquiry {
  background: $yellow;
  padding: 6rem 0;

  h3 {
    padding-bottom: 1.25rem;
  }

  .fas {
    margin-right: .26rem;
    color: $green;
    font-size: 1.25rem;
    line-height: 1;
  }

  p {
    margin-bottom: .15em;
    font-size: 1.35rem;

    .email {
      text-decoration: none;
      font-size: 1.25rem;
			border: none;
    }
  }
}
